
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.heading-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-container h3{
    padding: 5px 20px;
    font-weight: 400;
    font-size: 16px;

}

.main_header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alibaba-image{
    width: 180px;
    margin-right: 20px;
}

.secrch-container{
    display: flex;
    justify-content: center;
    align-items: center;

}